google>=3.0.0
pyparsing>=2.4.7
requests>=2.25.1
pypdf2>=1.26
textract
beautifulsoup4==4.8.0
feedparser>=6.0.2
chardet==3.0.4
pdfminer.six==20181108
pdftitle==0.3
unidecode>=1.2.0
bibtexparser>=1.2.0
pyperclip
easygui 
